@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/Rubik-Regular.woff2") format("woff2"),
        url("./fonts/Rubik-Regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/Rubik-Medium.woff2") format("woff2"),
        url("./fonts/Rubik-Medium.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

body {
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 500;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-top {
    background-color: #f6f6f6;
    padding: 30px 0px;
}

.hero-top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-left {
    display: flex;
    align-items: center;
    gap: 35px;
}

.link-logo {
    text-decoration: none;
}

.header-prices {
    display: flex;
    list-style: none;
    gap: 25px;
}

.header-price {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
}

.valyuta {
    color: rgb(41, 89, 206);
}

.header-top-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-search {
    padding: 13px 15px;
    border-radius: 60px;
    border: none;
    outline: none;
}

.header-languages {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 3px;
    background-color: #dce6ff;
    border-radius: 39px;
    gap: 8px;
}

.language {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.41px;
}

.language-uzb {
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 50%;
}

.language-rus {
    padding-right: 10px;

}

.sign-up {
    padding: 13px 20px;
    color: white;
    background-color: #7296ec;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    line-height: 18.96px;
    text-decoration: none;
}

.header-nav {
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header-link {
    font-size: 18px;
    line-height: 21.33px;
    color: #7f7f7f;
    text-decoration: none;
}
.hero-list{
    display: flex;
    flex-direction: column;
   gap: 24px;
   list-style: none;
   padding-top:25px ;
   padding-bottom: 50px;
   border-bottom: 1px solid #D2D2D2;
}
.icon{
    margin-top: 20px;
    margin-bottom:30px;
}
.hero-text{

font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;


}
.universe-title{
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.44px;
    text-align: left;
    
    

}
.universe-item{
    padding-bottom:15px;
    border-bottom:#D2D2D2 1px solid;
}
.universe-list {
    background-color: #EAEAEA;
    padding:17px;
    border-radius: 15px;;
    list-style-type: none;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 35px;
}
.universe-item-title {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}
.world-wrapper {
    display: flex;
    justify-content: space-between;
    gap:30px;
}
.hero-title{
margin-bottom: 20px;
font-size: 26px;
font-weight: 500;
line-height: 36px;

}
.into-title{
margin-top:60px ;
margin-bottom: 20px;
font-size: 24px;
font-weight: 500;
line-height: 28.44px;


}
.intro-ol {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.intro-list {
    background-color: #f6f6f6;
    padding: 20px 17px 15px 17px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.intro-title {
    width: 346px;
    height: 78px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #000000;
    margin-bottom: 10px;
}

.intro-detail {
    width: 354px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #4a4b4c;
    margin-bottom: 15px;
}
.site-footer{
    background-color: #7297EF;
    margin-top: 100px;
}
.footer-container{
    width:958px;
    margin: 0 auto;
    padding:0 20px;
    
}
.footer-list{
    list-style-type: none;
}
.footer-logo{
    font-family: Rubik;
font-size: 24px;
font-weight: 700;
line-height: 28.44px;
text-align: left;
text-decoration: none;
color:white;

}
.footer-title{
    padding-top:40px;
    margin-bottom:15px;
}
.footer-info{
    width:239px;
    font-family: Rubik;
font-size: 12px;
font-weight: 400;
line-height: 19px;
text-align: left;

color:white;

}
.footer-wrapper{
    display:flex;
    justify-content:space-between;
    border-bottom: #CECECE  1px solid;
   
}
.footer-lists{
    width:491px;
    display:flex;
    justify-content:space-between;
    list-style-type: none;
 
}
.footer-list-item{
    margin-bottom: 20px;
}
.footer-list-team{
    list-style-type: none;
   margin-bottom:20px;
}

.footer-list-link{
    color:white;
    text-decoration: none;
}



.footer-bottom-wrapper{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom-title{
    color:#fff;
font-size: 18px;
font-weight: 500;
line-height: 23px;
}
.footer-logos{
    list-style-type: none;
    gap:25px;
    
}
.logos-item{
    margin-left:25px;
    display: inline-block;
}